
<div class="container">
 <div class="row">
  <div class="col-md-8">
    <h2 class="page-header">Comentários</h2>
    <% @comments.each do |comment| %>

<div class="row">
        <div class="col-md-2 col-sm-2 hidden-xs">
          <figure class="thumbnail">
            <img class="img-responsive" src="http://www.keita-gaming.com/assets/profile/default-avatar-c5d8ec086224cb6fc4e395f4ba3018c2.jpg" />
            
            <figcaption class="text-center"><%= comment.author %></figcaption>
          </figure>
        </div>
        <div class="col-md-10 col-sm-10">
          <div class="panel panel-default arrow left">
            <div class="panel-body">
              <div class="comment-post">
                <p>
                  <%= comment.comment %>
                </p>
              </div>
              <p class="text-left"><%= link_to 'Responder', comments_respond_menus_path(:father_id => comment.id, :menu_id => @menu.id), class: "btn btn-default btn-sm"  %></p>
              <p class="text-left"><%= link_to 'Apagar', comment, method: :delete, data: { confirm: 'Você tem certeza?' }, class: "btn btn-default btn-sm" %></p>
            </div> 
          </div>
        </div>
            <br>
            <!-- Responder-->          
            <% comment.responds.each do |respond| %>
                  <div class="row">
                    <div class="col-md-2 col-sm-2 hidden-xs">
                      <figure class="thumbnail">
                        <img class="img-responsive" src="<%= @page.logo.logo.url %>" />
                      </figure>
                    </div>
                    <div class="col-md-6 col-sm-6">
                      <div class="panel panel-default arrow left">
                        <div class="panel-body">
                          <div class="comment-post">
                            <p>
                              <%= respond.comment %>
                            </p>
                          </div>
                          <p class="text-left"><%= link_to 'Apagar', respond, method: :delete, data: { confirm: 'Você tem certeza?' }, class: "btn btn-default btn-sm" %></p>
                        </div> 
                      </div>
                    </div>
                  </div>      
        <% end %>
      </div>
    <% end %>
<%= simple_form_for(@comment, :url => comments_path(@comment, :menu_id => @menu.id))  do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :author, label: "Autor" %>
    <%= f.input :comment, as: :text, label: "Comentário" %>
    
    <%= f.input :father_id, as: :hidden%>
    <%= f.input :page_id, as: :hidden, input_html: {value: @page.id} %>

  </div>

  <div class="form-actions">
    <%= f.button :submit  %>

  </div>
<% end %>
</div>
</div>
</div>
