
<div class="container">
 <div class="row">
  <div class="col-md-8">
    <h2 class="page-header">Comentários</h2>
    <% @comments.each do |comment| %>

<div class="row">
        <div class="col-md-2 col-sm-2 hidden-xs">
          <figure class="thumbnail">
            
            <%= image_tag 'avatarzinho.jpg', class: "img-responsive" %>
            <figcaption class="text-center"><%= comment.author %></figcaption>
          </figure>
        </div>
        <div class="col-md-10 col-sm-10">
          <div class="panel panel-default arrow left">
            <div class="panel-body">
              <div class="comment-post">
                <p>
                  <%= comment.comment %>
                </p>
              </div>
              <% if current_user && current_user.role.name == "admin" %>
                <p class="text-left"><%= link_to 'Apagar', comment, method: :delete, data: { confirm: 'Você tem certeza?' }, class: "btn btn-novobotao btn-sm" %></p>
                <% end %>
            </div> 
          </div>
        </div>
            <br>
            <!-- Responder-->          
            <% comment.responds.each do |respond| %>
                  <div class="row">
                    <div class="col-md-2 col-sm-2 hidden-xs">
                      <figure class="thumbnail">
                        <img class="img-responsive" src="<%= @page.logo.logo.url %>" />
                      </figure>
                    </div>
                    <div class="col-md-6 col-sm-6">
                      <div class="panel panel-default arrow left">
                        <div class="panel-body">
                          <div class="comment-post">
                            <p>
                              <%= respond.comment %>
                            </p>
                          </div>
                          <% if current_user && current_user.role.name == "admin" %>
                          <p class="text-left"><%= link_to 'Apagar', respond, method: :delete, data: { confirm: 'Você tem certeza?' }, class: "btn btn-default btn-sm" %></p>
                          <% end %>
                        </div> 
                      </div>
                    </div>
                  </div>      
              <% end %>
              <% if current_user && current_user == @page.user %>
                <%= simple_form_for(@comment, :url => comments_path(@comment, :menu_id => @menu.id ))  do |f| %>
                      <div class="row" style="margin-left: 275px">
                        <div class="col-md-9 col-sm-9">
                          <div class="panel panel-default arrow left">
                            <div class="panel-body">
                              <div class="comment-post">
                                <%= f.error_notification %>
                                <p>
                                  <%= f.input :comment, as: :text, label: "Responder Comentário", input_html: {style: "resize: none"}, label_html: {style: "font-weight: bold;"} %>
                                  <%= f.input :father_id, as: :hidden, :input_html => {value: comment.id}%>
                                  <%= f.submit "Responder Comentário", class: "btn btn-default"  %>
                                </p>
                              </div>
                            </div> 
                          </div>
                        </div>
                    </div>  
                <% end %>
              <% end %>
          </div>
    <% end %>
<%= simple_form_for(@comment, :url => comments_path(@comment, :menu_id => @menu.id))  do |f| %>
    <%= f.error_notification %>
    <div class="row">
      <div class="form-inputs">
        <%= f.input :author, label: "Autor" %>
        <%= f.input :comment, as: :text, label: "Comentário" %>
        
        <%= f.input :father_id, as: :hidden%>
        <%= f.input :page_id, as: :hidden, input_html: {value: @page.id} %>

      </div>

      <div class="form-actions">
        <%= f.button :submit, "Criar Comentário", class: "btn btn-default"  %>

      </div>
    </div>
<% end %>
</div>
</div>
</div>
