<h3> Editando menu: <%= @menu.name %> </h3>
<%= form_for @menu do |f| %>
    <%= f.label :tipo %><br />
    <%= f.label :tipo, "Texto", :value => "2"  %>
    <%= f.radio_button :tipo, 2, :checked => true, :id => "text" %>
    <%= f.label :tipo, "Galeria", :value => "3" %>
    <%= f.radio_button :tipo, 3, :id => "gallery" %>

    <div id="text_input"> 
    <%= f.fields_for :text do |builder| %>
      <%= render "text_fields", :f => builder %>
      
    <% end %>
    </div>
    <div id="photos"> 
    <%= f.fields_for :photos do |builder| %>
      <%= render "photo_fields", :f => builder %>
    <% end %>
    <p><%= link_to_add_association "Adicionar Foto", f, :photos %></p>
    </div>
<%= f.submit %>
<% end %>


<script>
toggleURLInput();
document.getElementById("text").onclick = toggleURLInput;
document.getElementById("gallery").onclick = toggleURLInput;

function toggleURLInput(){
  if ($('#text').is(':checked')) { 
    $('#text_input').show();
    $('#photos').hide();
  } else {
    $('#text_input').hide();
    $('#photos').show();
  }
}
</script>

