<div class="container-fluid">
	<div class="row row-offcanvas row-offcanvas-left">
		<div class="col-sm-3 col-md-2 sidebar-offcanvas" id="sidebar" role="navigation">
	            <ul class="nav nav-sidebar">
	              <%= render "menu_column" %>
	            </ul>
	        </div>
		<div class="col-md-9">
			<h2 style="text-align: center;"> <%= @menu.name %> </h2>
		    <%if @menu.tipo == 2 %>
		        <%= render 'text_view' %>
		    <% end %>
		    <%if @menu.tipo == 3 %>
		        <%= render 'gallery_view' %>
		    <% end %>
		</div>
		<div class="col-md-12">
		<%= render "comments" %>
		</div>
	</div>
</div>