<div class="nested-fields">
	<div class="col-md-12">
	  <div class="panel panel-primary">
	    
	    <div class="panel-heading">
	      <h3 class="panel-title">Menu
		    <%= link_to_remove_association "X", f, class: "btn btn-danger btn-xs", style: "float:right" %></h3>
	    </div>
	    
	    <div class="panel-body">
	      <div class="form-inputs">
	        <div class="form-group">
	          <div class="col-md-12">
	          	<p class="fields">
				  <%= f.input :name, label: "Nome", input_html: {style: "width: 60%"} %><br />
				</p>
	          </div>
	        </div>
      		<%= f.fields_for :submenus do |submenu| %>
		  		<%= render 'submenu_fields', :f => submenu %>
			<% end %>
	        <div class="col-md-4">
	        	                <%= link_to_add_association  f, :submenus do %>
                <%=image_tag("previewkawaii.png")%>
                <%end%>
	        </div>
	        <end%>
	      </div>
	    </div> <!-- close panel body -->
	  </div> <!-- panel primary -->
	</div>
</div> <!-- nested fields -->