<p class="fields">
  <%= f.label :name, "Submenu" %>
  <%= f.text_field :name %>
  <%= f.hidden_field :_destroy %>
  <%= link_to_remove_fields "remove", f %>
  <div class="radio">
   <%= f.label :tipo %><br />
    <%= f.radio_button :tipo, 2%>
    <%= f.label :tipo, "Galeria", :value => 2  %>
    <%= f.radio_button :tipo, 3%>
    <%= f.label :tipo, "Texto", :value => 3 %>
</div>
</p>