<div class="container-fluid">
  <div class="row row-offcanvas row-offcanvas-left">
    <div class="col-md-12">
      <h2 style="text-align: center;"> Gerenciar Conteúdo </h2>
        <% @menus.each do |menu| %>
		<% if menu.father_id == nil%>
			<% if menu.submenus.size > 0 %>
				<%= menu.name %>
				<div style="margin-left: 20px">
					<% menu.submenus.each do |submenu| %>
						<%=	submenu.name%>
						<%= link_to "Editar Conteúdo", edit_menu_path(submenu) %><br>
					<% end %>
				</div>
			<% else %>
				<%= menu.name %>
				<%= link_to "Editar Conteúdo", edit_menu_path(menu) %><br>
			<% end %>
			<hr />
		<% end %>
	<% end %>
    </div>
  </div>
</div>

	