<%= simple_form_for :list_institutes do |f|%>
    <div class="row">
        <div class="col-md-3">
        <section id="content">
            <div class="container">
                <div id="main">
                    <div class="row">

                        <div class="col-sm-4 col-md-3">

                            <h4 class="search-results-title"><i class="soap-icon-search"></i><b><%= @institutes.size %></b> instituições.</h4>
                            <br>
                            <%= f.input :search,label:"Nome", input_html: { value: @filters[:search] } %>
                            <div class="toggle-container filters-container">
                            <div class="panel style1 arrow-right">
                                    <h4 class="panel-title">
                                        <a id="bairro-button" class="collapsed">Bairro</a>
                                    </h4>
                                    <div id="bairro-filter" class="panel-collapse collapse">
                                        <div class="panel-content">
                                            
                                                <%= f.input :neighborhood, as: :radio_buttons,label: false, collection: @neighborhoods, :checked => @filters[:neighborhood] %>
                                            
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="panel style1 arrow-right">
                                    <h4 class="panel-title">
                                        <a id="religiao-button" class="collapsed">Religião</a>
                                    </h4>
                                    <div id="religiao-filter" class="panel-collapse collapse">
                                        <div class="panel-content">
                                            
                                                  <%= f.radio_button :religion, 0, :checked => @filters[:religion] == "0" %>
                                                  <%= f.label :religion, "Todos", :value => "0"  %>
                                                  
                                                  <br>
                                                  <%= f.radio_button :religion, 1, :checked => @filters[:religion] == "1" %>
                                                  <%= f.label :religion, "Católico", :value => "1"  %>
                                                  
                                                  <br>
                                                  <%= f.radio_button :religion, 2, :checked => @filters[:religion] == "2" %>
                                                  <%= f.label :religion, "Protestantes", :value => "2" %>
                                                  
                                                  <br>
                                                  <%= f.radio_button :religion, 3, :checked => @filters[:religion] == "3" %>
                                                  <%= f.label :religion, "Sem Classificação", :value => "3" %>
                                            
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="panel style1 arrow-right">
                                    <h4 class="panel-title">
                                        <a id="school-button"  class="collapsed">Escolaridade</a>
                                    </h4>
                                    <div id="school-filter" class="panel-collapse collapse">
                                        <div class="panel-content">
                                            
                                                <%= f.input :elementary_school, as: :boolean, label: "1º ao 5º ano", input_html: {checked: verify_value(@filters[:elementary_school])} %>
                                                      <%= f.input :middle_school, as: :boolean, label: "6º ao 9º ano", input_html: {checked: verify_value(@filters[:middle_school])} %>
                                                      <%= f.input :high_school, as: :boolean, label: "Ensino Medio", input_html: {checked: verify_value(@filters[:high_school])} %>
                                            
                                            
                                        </div>
                                    </div>
                                </div>

                                <div class="panel style1 arrow-right">
                                    <h4 class="panel-title">
                                        <a id="necessidade-button"  class="collapsed">Necessidade</a>
                                    </h4>
                                    <div id="necessidade-filter" class="panel-collapse collapse">
                                        <div class="panel-content">
                                            
                                                     
                                                    <%= f.input :physical, as: :boolean, label: "Fisica", input_html: {checked: verify_value(@filters[:physical])} %>
                                                    <%= f.input :hearing, as: :boolean, label: "Auditivo", input_html: {checked: verify_value(@filters[:hearing])} %>
                                                    <%= f.input :mental, as: :boolean, label: "Mental", input_html: {checked: verify_value(@filters[:mental])} %>
                                                    <%= f.input :view, as: :boolean, label: "Visual", input_html: {checked: verify_value(@filters[:view])} %> 
                                                
                                           
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <center><%= f.submit "Filtrar", class: "btn btn-lg btn-success btn-block", style:"height:45px; width:100px;"%></center>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>  
    </div>

        <div class="col-md-9">
                              <div class="hotel-list listing-style3 hotel">

<% @institutes.each do |institute| %>
                                <article class="box">
                                    <figure class="col-sm-5 col-md-4">
                                        <img width="270" height="160" alt="" src="<%= institute.page.logo.logo_full %>">
                                    </figure>
                                    <div class="details col-sm-7 col-md-8">
                                        <div>
                                            <div>
                                                <h4 class="box-title"><%= institute.name_institute %><small><i class="soap-icon-departure yellow-color"></i><%= institute.neighborhood %>, Belem</small></h4>
                                                
                                            </div>
                                            <div>
                                                <div class="five-stars-container">
                                                    <span class="five-stars" style="width: 80%;"></span>
                                                </div>
                                                <span class="review"><%= institute.page.recommends.to_i %> recomendações</span>
                                            </div>
                                        </div>
                                        <div>
                                            <p> <strong> Religião </strong>
                                                <% if institute.religion == 1%>
                                                Católico
                                                <% elsif institute.religion == 2%>
                                                Protestantes
                                                <% else %>
                                                Sem classificação
                                                <% end %><br>

                                                <strong> Escolaridades: </strong>
                                                <% if institute.elementary_school == true%>
                                                1º ao 5º ano /
                                                <% end %>
                                                <% if institute.middle_school == true%>
                                                6º ao 9º ano
                                                <% end %>
                                                <% if institute.high_school == true%>
                                                 / Ensino Médio
                                                <% end %>
                                                <br>
                                                <strong> Necessidades Especiais: </strong>
                                                <% if institute.physical == true%>
                                                Fisica
                                                <% end %>
                                                <% if institute.hearing == true%>
                                                 / Auditiva
                                                <% end %>
                                                <% if institute.mental == true%>
                                                 / Mental
                                                <% end %>
                                                <% if institute.view == true%>
                                                 / Visão
                                                <% end %>


                                           </p>


                                            <div>     
                                                <%if institute.page.menus.first.submenus.first == nil %>
													<td><%= link_to institute.page.menus.first, method: :get, class: "btn button btn-small full-width btn-novobotao text-center" do%>
                                                        Mostrar Página
                                                        <% end %>
                                                        </td>

												<% else %>
													<td><%= link_to institute.page.menus.first.submenus.first, method: :get, class: "btn button btn-novobotao btn-small full-width text-center" do %>
                                                        Mostrar Página
                                                        <% end %></td>
												<% end %>             
                                                <%if current_user %>
                                                    <%if current_user.role.name == "admin" %>
                                                        <td><%= link_to "Apagar",usuario_path(institute), method: :delete, data:{confirm: 'Are You Sure?' }%></td>
                                                        <td><%= link_to "Editar",edit_usuario_path(institute) %></td>

                                                    <% end %>
                                                <% end %>


                                            </div>
                                        </div>
                                    </div>
                                </article>
                                	<% end %>
                            </div>
                            <!-- Filtros-->
                        </div>
                    </div>

    </div>
    <% end %>
    <script>
    $('#bairro-filter').hide();
    $('#necessidade-filter').hide();
    $('#school-filter').hide();
    $('#religiao-filter').hide();
        $('#bairro-button').click(function () {
            $("#bairro-filter").slideToggle(500);
        })
        $('#necessidade-button').click(function () {
            $("#necessidade-filter").slideToggle(500);
        })
        $('#school-button').click(function () {
            $("#school-filter").slideToggle(500);
        })
        $('#religiao-button').click(function () {
            $("#religiao-filter").slideToggle(500);
        })
    </script>