<%= simple_form_for :list_institutes do |f|%>
    <div class="row">
        <div class="col-md-3">
        <section id="content">
            <div class="container">
                <div id="main">
                    <div class="row">

                        <div class="col-sm-4 col-md-3">

                            <h4 class="search-results-title"><i class="soap-icon-search"></i><b><%= @institutes.size %></b> results found.</h4>
                            <br>
                            <%= f.input :search,label:"Nome", input_html: { value: @filters[:search] } %>
                            <div class="toggle-container filters-container">
                            <div class="panel style1 arrow-right">
                                    <h4 class="panel-title">
                                        <a id="bairro-button" class="collapsed">Bairro</a>
                                    </h4>
                                    <div id="bairro-filter" class="panel-collapse collapse">
                                        <div class="panel-content">
                                            <ul class="check-square filters-option">
                                                <li><%= f.input :neighborhood, as: :radio_buttons,label: false, collection: @neighborhoods, :checked => @filters[:neighborhood] %> </li>
                                              </ul>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="panel style1 arrow-right">
                                    <h4 class="panel-title">
                                        <a id="religiao-button" class="collapsed">Religião</a>
                                    </h4>
                                    <div id="religiao-filter" class="panel-collapse collapse">
                                        <div class="panel-content">
                                            <ul class="check-square filters-option">
                                                <li>  <%= f.collection_radio_buttons :religion, [[0, 'Todos     '],[1, 'Catolico'],[2, 'Protestantes'],[3, 'Sem Classificacao']], :first, :last, :checked => @filters[:religion] %> </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="panel style1 arrow-right">
                                    <h4 class="panel-title">
                                        <a id="school-button"  class="collapsed">Escolaridade</a>
                                    </h4>
                                    <div id="school-filter" class="panel-collapse collapse">
                                        <div class="panel-content">
                                            <ul class="check-square filters-option">
                                                <li>  <%= f.input :elementary_school, as: :boolean, label: "1º ao 5º ano", input_html: {checked: verify_value(@filters[:elementary_school])} %>
                                                      <%= f.input :middle_school, as: :boolean, label: "6º ao 9º ano", input_html: {checked: verify_value(@filters[:middle_school])} %>
                                                      <%= f.input :high_school, as: :boolean, label: "Ensino Medio", input_html: {checked: verify_value(@filters[:high_school])} %>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel style1 arrow-right">
                                    <h4 class="panel-title">
                                        <a id="necessidade-button"  class="collapsed">Necessidade</a>
                                    </h4>
                                    <div id="necessidade-filter" class="panel-collapse collapse">
                                        <div class="panel-content">
                                            <ul class="check-square filters-option">
                                                <li>      
                                                    <%= f.input :physical, as: :boolean, label: "Fisica", input_html: {checked: verify_value(@filters[:physical])} %>
                                                    <%= f.input :hearing, as: :boolean, label: "Auditivo", input_html: {checked: verify_value(@filters[:hearing])} %>
                                                    <%= f.input :mental, as: :boolean, label: "Mental", input_html: {checked: verify_value(@filters[:mental])} %>
                                                    <%= f.input :view, as: :boolean, label: "Visual", input_html: {checked: verify_value(@filters[:view])} %> 
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <%= f.submit "Filtrar" %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>  
    </div>

        <div class="col-md-9">
                              <div class="hotel-list listing-style3 hotel">

<% @institutes.each do |institute| %>
                                <article class="box">
                                    <figure class="col-sm-5 col-md-4">
                                        <img width="270" height="160" alt="" src="<%= institute.page.logo.logo_full %>">
                                    </figure>
                                    <div class="details col-sm-7 col-md-8">
                                        <div>
                                            <div>
                                                <h4 class="box-title"><%= institute.name_institute %><small><i class="soap-icon-departure yellow-color"></i><%= institute.neighborhood %>, Belem</small></h4>
                                                
                                            </div>
                                            <div>
                                                <div class="five-stars-container">
                                                    <span class="five-stars" style="width: 80%;"></span>
                                                </div>
                                                <span class="review"><%= institute.page.recommends.to_i %> recomendacoes</span>
                                            </div>
                                        </div>
                                        <div>
                                            <p>Nunc cursus libero purus ac congue ar lorem cursus ut sed vitae pulvinar massa idend porta nequetiam elerisque mi id, consectetur adipi deese cing elit maus fringilla bibe endum.</p>


                                            <div>     
                                                <%if institute.page.menus.first.submenus.first == nil %>
													<td><%= button_to "Mostrar Página", institute.page.menus.first, method: :get, class: "btn button btn-small full-width btn-novobotao text-center"%></td>
												<% else %>
													<td><%= button_to "Mostrar Página", institute.page.menus.first.submenus.first, method: :get, class: "btn button btn-novobotao btn-small full-width text-center" %></td>
												<% end %>             

                                            </div>
                                        </div>
                                    </div>
                                </article>
                                	<% end %>
                            </div>
                            <!-- Filtros-->
                        </div>
                    </div>

    </div>
    <% end %>
    <script>
    $('#bairro-filter').hide();
    $('#necessidade-filter').hide();
    $('#school-filter').hide();
    $('#religiao-filter').hide();
        $('#bairro-button').click(function () {
            $("#bairro-filter").slideToggle(500);
        })
        $('#necessidade-button').click(function () {
            $("#necessidade-filter").slideToggle(500);
        })
        $('#school-button').click(function () {
            $("#school-filter").slideToggle(500);
        })
        $('#religiao-button').click(function () {
            $("#religiao-filter").slideToggle(500);
        })
    </script>