<div class="panel panel-primary">
  <h1 style="margin-top:40px;"><b>Gerenciar Menu</b></h1>
        <%= simple_form_for @page do |f| %>  
          <div class="panel-body">
            <div id="events">
              <%= f.fields_for :menus do |menu| %>
                <%= render "menu_fields", :f => menu %>
              <% end %>
              <div class="col-md-12">
                <%= link_to_add_association " ", f, :menus, class: "btn btn-primary btn-block glyphicon glyphicon-plus" %>
              </div>
            </div>
          </div>
          <br>
          <br>
          <center><p><%= f.submit "Salvar", class: "btn btn-lg btn-success btn-block", style:"height:45px; width:130px;" %></p></center>
        </div>
        
<% end %>