<div class="panel panel-primary">
  <h2 style="text-align: center;"> Gerenciar Menus </h2>
        <%= simple_form_for @page do |f| %>  
          <div class="panel-body">
            <div id="events">
              <%= f.fields_for :menus do |menu| %>
                <%= render "menu_fields", :f => menu %>
              <% end %>
              <div class="col-md-12">
                <%= link_to_add_association " ", f, :menus, class: "btn btn-primary btn-block glyphicon glyphicon-plus" %>
              </div>
            </div>
          </div>
          <br>
          <br>
          <p><%= f.submit "Submit", class: "btn btn-primary" %></p>
        </div>
        
<% end %>