<h2>Cadastrar Instituicao</h2>

<%= simple_form_for(@user, url: new_user_pages_path) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>
    <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @validatable) %>
    <%= f.input :password_confirmation, required: true %>
    <%= f.input :name_institute, required: true %>
    <%= f.input :name_responsible, required: true %>
    <%= f.input :phone, required: true %>
    <%= f.input :role_id, as: :hidden, input_html: {value: "2"} %>

  </div>

  <div class="form-actions">
    <%= f.button :submit, "Cadastrar" %>
  </div>
<% end %>
