<%= link_to "New Text", new_text_path %>
<% @texts.each do |text| %>
  <div id="<%=text.id%>" contenteditable="true">
  	<%= text.description.html_safe %>
  </div>
  <%= link_to "Edit Text", edit_text_path(text) %>
  <% if text != @texts.last %>
  <hr />
  <% end %>
<% end %>
<% @texts.each do |text| %>
<%= form_for text do |f| %>
  <div>
    <%= f.hidden_field :description, rows: 10,  id: "#{text.id}_field"  %>
  </div>
  <div>
    <%= f.submit "Salvar Mudanças", id: "#{text.id}_submit", hidden: true%>
  </div>
<% end %>
<% end %>


<script>
    // Turn off automatic editor creation first.

    CKEDITOR.disableAutoInline = true;
    <% @texts.each do |text| %>
    CKEDITOR.inline("<%=text.id%>", {
            on: {
              blur: function( event ) {
                var data = event.editor.getData();
                document.getElementById("<%=text.id%>_field").value=data;
                $("#<%=text.id%>_submit").trigger( "click" );
              }
            }
        });
    <% end %>
</script>

