<div class="col-md-3">
	<div class="category_widget">
      <h3>Menu</h3>
      <ul class="list-unstyled arrow">
      	<% @page.menus.each do |m| %>
          	<% if m.submenus.first == nil %>
				<li> <%= link_to "#{m.name}", m %> </li>
			<% else %> 
			<li > <a href="#" class="menu<%=m.id%>">  <%= m.name %> </a> </li>
				<div id="submenus<%=m.id%>">
				<% m.submenus.each do |sub|%>
					<li style="margin-left: 20px;"> <%= link_to "#{sub.name}", sub %> </li>
				<% end %>
				</div>
			<% end %>
		<% end %>
      </ul>
	</div>
</div>