<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "SisWGCIEP" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "bootstrap_panel.css" %>
    <%= stylesheet_link_tag "custom.css" %>
    <%= stylesheet_link_tag "font-awesome.css" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <%= javascript_include_tag "application" %>
  </head>
<body>
  <div class="navbar1 navbar-inverse1 navbar-fixed-top1">
    <div class="navbar-inner1">
      <div class="container1">
        <h1 class="brand1"><a href="#top">Onde Estudar?</a></h1>
        <nav class="pull-right nav-collapse collapse">
          <ul id="menu-main" class="nav">
            <li><a title="contact" href="#contact">Login</a></li>
          </ul>
        </nav>
      </div>
    </div>
   <!-- <div style="color: white;
padding: 15px 50px 5px 50px;
float: right;
font-size: 16px;"> Último acesso : 15 de Maio de 2015 &nbsp; <a href="login.html" class="btn btn-danger square-btn-adjust">Logout</a> </div>-->
  </div>
        <!--<nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Onde Estudar?</a> 
            </div>
  
        </nav>  
           <!-- /. NAV TOP  -->
                <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
        <li class="text-center">
                    <%= image_tag(@page.logo.url(:logo), :class => "user-image img-responsive") %>
                    
                  </li>          
                    <li>
                        <a class="active-menu" style="font-weight:bold; font-size:16px; text-align:center; color:#FFF">ADMINISTRAR PÁGINA</a>
                    </li>
                    <li> <%= link_to index_admin_pages_path do%>
                      <%=image_tag("iniciopic.png")%>
                        <% end %>
                    </li>
                     <li> <%= link_to logo_pages_path do %> 
                      <%=image_tag("logopic.png")%>
                      <% end %>
                     </li>
                      <li> <%= link_to header_pages_path do %> 
                      <%=image_tag("cabecalho.png")%>
                      <% end %>
                      </li>
                        <li> <%= link_to menus_pages_path do %> 
                      <%=image_tag("menupic.png")%>
                      <% end %>
                        </li>
                        <li> <%= link_to conteudo_pages_path do %> 
                      <%=image_tag("content.png")%>
                      <% end %>
                        </li> 
                    <li  >
                        <a  href="form.html"><%=image_tag("layoutpic.png")%></a>
                    </li>       
            
                </ul>
               
            </div>
            
        </nav>  
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" style="text-align:center; position:fixed;" >
            <div id="page-inner" style="overflow:auto; overflow-x: hidden; height:580px; width:1190px">
                <div class="row">
                    <div class="col-md-12" >
                     <%= yield %>
                    </div>
                </div>              
                 <!-- /. ROW  -->
                  <hr />
                
             <!-- /. PAGE INNER  -->
            </div>
         <!-- /. PAGE WRAPPER  -->
        </div>
     <!-- /. WRAPPER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="assets/js/jquery-1.10.2.js"></script>
      <!-- BOOTSTRAP SCRIPTS -->
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="assets/js/jquery.metisMenu.js"></script>
     <!-- MORRIS CHART SCRIPTS -->
     <script src="assets/js/morris/raphael-2.1.0.min.js"></script>
    <script src="assets/js/morris/morris.js"></script>
      <!-- CUSTOM SCRIPTS -->
    <script src="assets/js/custom.js"></script>
    
   
</body>
</html>